.RootTable {
    border: 0px;
    width: 100%;
    height: 100%;
}

/* category header */

table.CategoryTable {
    border-width: 0;
    width: 100%;
}

table.CategoryTable h2 {
    margin: 0;
}

h2.CategoryHeaders {
    color: #C0C0C0;
}

a.CategoryButton {
    color: #C0C0C0;
    text-decoration-line: none;
}

/* feature table */

table.FeatureTable {
    border-width: 0;
    margin-left: 1.5em;
    margin-right: 1.5em;
}

table.FeatureTable td {
    padding-top: 1em;
}

table.FeatureTable img {
    margin-right: 1em;
}

table.FeatureTable td>div {
    border-top: 2px solid #808080;
    width: 100%;
    height: 100%;
}

table.FeatureTable h1 {
    margin: 0;
}

/* hovering button color */

a.CategoryButton.HelloButton.Unselected:hover {
    color: #5EA8DE;
}

a.CategoryButton.GacUIButton.Unselected:hover {
    color: #8DBF35;
}

a.CategoryButton.DataButton.Unselected:hover {
    color: #F18A2B;
}

a.CategoryButton.StringButton.Unselected:hover {
    color: #F7866A;
}

a.CategoryButton.ScriptingButton.Unselected:hover {
    color: #ED7099;
}

a.CategoryButton.CaseButton.Unselected:hover {
    color: #7B4F9D;
}

/* selected button color */

a.CategoryButton.HelloButton.Selected {
    background-color: #5EA8DE;
    color: #FFFFFF;
}

a.CategoryButton.GacUIButton.Selected {
    background-color: #8DBF35;
    color: #FFFFFF;
}

a.CategoryButton.DataButton.Selected {
    background-color: #F18A2B;
    color: #FFFFFF;
}

a.CategoryButton.StringButton.Selected {
    background-color: #F7866A;
    color: #FFFFFF;
}

a.CategoryButton.ScriptingButton.Selected {
    background-color: #ED7099;
    color: #FFFFFF;
}

a.CategoryButton.CaseButton.Selected {
    background-color: #7B4F9D;
    color: #FFFFFF;
}