body {
    font-family: Segoe UI;
    background-color: #FFFFFF;
}

.article a {
    color: #0080FF;
    text-decoration-line: none;
}

.article a:hover {
    color: #FF8000;
    text-decoration-line: underline;
}

.article .name {
    background-color: #FFFFE0;
}

.article .code {
    background-color: #FFFFE0;
}

.article .index {
    background-color: #E0FFFF;
}