.RootTable {
    border: 0px;
    width: 100%;
    height: 100%;
}

.NavigateTable {
    border: 0px;
    width: 800px;
}

.NavigateTable td {
    overflow: hidden;
}

.MenuButton {
    display: block;
    width: 130px;
    height: 32px;
    line-height: 32px;
    font-size: 16px;
    background-color: #F0F1F4;
    color: #000000;
    text-decoration: none;
    border-style: solid;
    border-top-width: 0px;
    border-left-width: 0px;
    border-right-width: 0px;
    border-bottom-width: 3px;
    border-bottom-color: #D8D9DC;
}

.MenuButton:hover.HomeButton {
    border-bottom-color: #5EA8DE;
}

.MenuButton:hover.TutorialButton {
    border-bottom-color: #8DBF35;
}

.MenuButton:hover.DemoButton {
    border-bottom-color: #F18A2B;
}

.MenuButton:hover.DownloadButton {
    border-bottom-color: #F7866A;
}

.MenuButton:hover.DocumentButton {
    border-bottom-color: #ED7099;
}

.MenuButton:hover.ContactButton {
    border-bottom-color: #7B4F9D;
}

.MenuButton.HomeButton.Selected {
    background-color: #5EA8DE;
    border-bottom-color: #5EA8DE;
    color: #FFFFFF;
}

.MenuButton.TutorialButton.Selected {
    background-color: #8DBF35;
    border-bottom-color: #8DBF35;
    color: #FFFFFF;
}

.MenuButton.DemoButton.Selected {
    background-color: #F18A2B;
    border-bottom-color: #F18A2B;
    color: #FFFFFF;
}

.MenuButton.DownloadButton.Selected {
    background-color: #F7866A;
    border-bottom-color: #F7866A;
    color: #FFFFFF;
}

.MenuButton.DocumentButton.Selected {
    background-color: #ED7099;
    border-bottom-color: #ED7099;
    color: #FFFFFF;
}

.MenuButton.ContactButton.Selected {
    background-color: #7B4F9D;
    border-bottom-color: #7B4F9D;
    color: #FFFFFF;
}