@package Gaclib.API

@{
    SelectNavigationButton(navDemo);
}

<h2>Source code of all demos</h2>
<p>Source code of all demos are in <a href="https://github.com/vczh-libraries/Release/tree/master/Tutorial" target="_blank">the "Tutorial" folder</a> of the GacUI for Windows repo:</p>
<ul>
    <li>
        <b><a href="https://github.com/vczh-libraries/Release/tree/master/Tutorial/GacUI_HelloWorlds" target="_blank">Hello, world!</a></b> : Every possible ways to create a hello world GacUI project.
        <ul>
            <li><b>Cpp</b> : Using C++ from stratch.</li>
            <li><b>WorkflowScript</b> : Using Workflow script from stratch.</li>
            <li><b>CppXml</b> : Using C++ and GacUI Xml Resource, with generated C++ code for loading UI from the precompiled binary GacUI Xml Resource.</li>
            <li><b>Xml</b> : Loading the precompiled binary GacUI Xml Resource dynamically at runtime.</li>
            <li><b>MVVM</b> : A MVVM pattern demo using Xml Resource.</li>
        </ul>
    </li>
    <li>
        <b><a href="https://github.com/vczh-libraries/Release/tree/master/Tutorial/GacUI_Layout" target="_blank">Layout</a></b> : Demonstrates all layout features.
        <ul>
            <li><b>Alignment</b> : Simple layout.</li>
            <li><b>Stack</b> : Stack layout with configurable axis directions.</li>
            <li><b>Flow</b> : Flow layout with configurable axis directions.</li>
            <li><b>Table</b> : Table layout.</li>
            <li><b>RichTextEmbedding</b> : Embed controls in a rich text document.</li>
        </ul>
    </li>
    <li>
        <b><a href="https://github.com/vczh-libraries/Release/tree/master/Tutorial/GacUI_Controls" target="_blank">Controls</a></b> : Demonstrates all controls and control templates. This demo is under development.
        <ul>
            <li><b>ContainersAndButtons</b> : Using container controls and button controls.</li>
            <li><b>TextEditor</b> : Implementing a text editor that handle plain text and XML.</li>
        </ul>
    </li>
    <li>
        <b><a href="https://github.com/vczh-libraries/Release/tree/master/Tutorial/GacUI_ControlTemplate" target="_blank">ControlTemplate</a></b> : Demonstrates all controls and control templates. This demo is under development.
        <ul>
            <li><b>BlackSkin</b> : Create a set of control templates which look like Visual Studio's dark theme.</li>
        </ul>
    </li>
    <li>
        <b>XmlResource</b> : Demonstrates all features in the XML resource file. This demo is under development. (developing)
        <ul>
        </ul>
    </li>
    <li>
        <b>Scenarios</b> : Some complete applications building by GacUI with a little more complexicity. (developing)
        <ul>
        </ul>
    </li>
    <li>etc ...</li>
</ul>

<h2>Running a demo</h2>
<p>Using Visual Studio 2013 or higher version to open the solution, and then run the demo by pressing F5.</p>
<p>If you want to modify the demo for practicing, you may notice that there are a <b>Codegen.bat</b> file in the <b>UI</b> folder in every demo projects. Modify the xml and run the bat file, the corresponding binary resource in the <b>UIRes</b> folder will be updated. After these steps are done, press F5 to see the result!</p>