@package Gaclib.API

@{
    SelectNavigationButton(navDemo);
}

<h2>Source code of all demos</h2>
<p>Source code of all demos are in <a href="https://github.com/vczh-libraries/Release/tree/master/Tutorial" target="_blank">the "Tutorial" folder</a> of the GacUI for Windows repo:</p>
<ul>
    <li>
        <b><a href="https://github.com/vczh-libraries/Release/tree/master/Tutorial/GacUI_HelloWorlds" target="_blank">Hello, world!</a></b> : Every possible ways to create a hello world GacUI project.
        <ul>
            <li><b>Cpp</b> : Using C++ from stratch.</li>
            <li><b>WorkflowScript</b> : Using Workflow script from stratch.</li>
            <li><b>CppXml</b> : Using C++ and GacUI Xml Resource, with generated C++ code for loading UI from the precompiled binary GacUI Xml Resource.</li>
            <li><b>Xml</b> : Loading the precompiled binary GacUI Xml Resource dynamically at runtime.</li>
            <li><b>MVVM</b> : A MVVM pattern demo using Xml Resource.</li>
        </ul>
    </li>
    <li>
        <b><a href="https://github.com/vczh-libraries/Release/tree/master/Tutorial/GacUI_Layout" target="_blank">Layout</a></b> : Demonstrates all layout features.
        <ul>
            <li><b>Alignment</b> : Simple layout.</li>
            <li><b>Stack</b> : Stack layout with configurable axis directions.</li>
            <li><b>Flow</b> : Flow layout with configurable axis directions.</li>
            <li><b>Table</b> : Table layout.</li>
            <li><b>TableSplitter</b> : Table layout with splitters, which can be dragged to change cell sizes.</li>
            <li><b>RichTextEmbedding</b> : Embed controls in a rich text document.</li>
            <li><b>Responsive1</b> : Responsive layout by manually controlling, for understanding different types of responsive layout compositions.</li>
            <li><b>Responsive2</b> : Responsive layout.</li>
        </ul>
    </li>
    <li>
        <b><a href="https://github.com/vczh-libraries/Release/tree/master/Tutorial/GacUI_Controls" target="_blank">Controls</a></b> : Demonstrates all controls and control templates. This demo is under development.
        <ul>
            <li><b>ContainersAndButtons</b> : Using container controls and button controls.</li>
            <li><b>TextEditor</b> : Implementing a text editor that handle plain text and XML.</li>
            <li><b>ColorPicker</b> : Using ItemTemplate on ComboBox and BindableTextList to build a color picker.</li>
            <li><b>AddressBook</b> : Using tree view and list view control with data binding to build an address book editor.</li>
            <li><b>ProgressAndAsync</b> : Using $await to call a C++ provided async function in Xml Resource to implement async operation with proper UI interaction.</li>
            <li><b>ListControls</b> : Different list controls with bindable or unbindable data sources.</li>
            <li><b>DataGrid</b> : DataGrid with drop down filter, different embedded editor controls in cells, and sorting.</li>
            <li><b>CalculatorAndStateMachine</b> : Using Workflow Script's state machine syntax to create a calculator.</li>
            <li><b>DocumentEditor</b> : Rich text editor.</li>
            <li><b>Animation</b> : Using XML and new Workflow coroutine operators to define different types of animations.</li>
            <li><b>MenuVisibility</b> : Control visibility of menu items.</li>
        </ul>
    </li>
    <li>
        <b><a href="https://github.com/vczh-libraries/Release/tree/master/Tutorial/GacUI_ControlTemplate" target="_blank">ControlTemplate</a></b> : Demonstrates all controls and control templates. This demo is under development.
        <ul>
            <li><b>BlackSkin</b> : Create a set of control templates which look like Visual Studio's dark theme.</li>
        </ul>
    </li>
    <li>
        <b><a href="https://github.com/vczh-libraries/Release/tree/master/Tutorial/GacUI_Xml" target="_blank">Xml</a></b> : Demonstrates all features in the XML resource file. This demo is under development.
        <ul>
            <li><b>Instance_Window</b> : Create a window.</li>
            <li><b>Instance_MultipleWindows</b> : Create multiple windows.</li>
            <li><b>Instance_Control</b> : Create a control.</li>
            <li><b>Binding_Uri</b> : Using -uri binding.</li>
            <li><b>Binding_Eval</b> : Using -eval binding.</li>
            <li><b>Binding_Bind</b> : Using -bind bindin.</li>
            <li><b>Binding_Format</b> : Using -format binding.</li>
            <li><b>Binding_ViewModel</b> : Binding to view model.</li>
            <li><b>Event_Cpp</b> : Handling event in C++.</li>
            <li><b>Event_Script</b> : Handling event in Workflow script.</li>
            <li><b>Event_ViewModel</b> : Handling event in view model.</li>
            <li><b>Member_Parameter</b> : Adding view model to window.</li>
            <li><b>Member_Property</b> : Adding property to window.</li>
            <li><b>Member_State</b> : Adding state to window.</li>
        </ul>
    </li>
    <li>
        <b><a href="https://github.com/vczh-libraries/Release/tree/master/Tutorial/GacUI_Windows" target="_blank">Windows</a></b> : Demonstrates the native interaction between GacUI and Windows OS.
        <ul>
            <li><b>Direct2DClock</b> : Using Direct2D to draw a moving clock.</li>
        </ul>
    </li>
    <li>etc ...</li>
</ul>

<h2>Running a demo</h2>
<p>Using Visual Studio 2017 or higher version to open the solution, and then run the demo by pressing F5.</p>
<p>If you want to modify the demo for practicing, you may notice that there are a <b>GacGen.ps1</b> file in the <b>Tools</b> folder. Set the <b>FileName</b> parameter to the path of of any <b>Resource.xml</b> and run <b>GacGen.ps1</b>, C++ source files and resource binary files for the project will be updated. After these steps are done, press F5 to see the result!</p>