@package Gaclib.API

@{
    SelectNavigationButton(navDownload);
}

<h2>GacUI for Windows</h2>
<p>Go to <a href="https://github.com/vczh-libraries/Release" target="_blank">https://github.com/vczh-libraries/Release</a>, there are 3 folders:</p>
<ul>
    <li><b>Import</b> : GacUI release source code. See <a href="#~/Tutorial">the tutorial</a> for details.</li>
    <li><b>Tools</b> : Code generation tools for developing GacUI projects.</li>
    <li><b>Tutorial</b> : Sample code showing all the features that GacUI has provided.</li>
</ul>
<h2>GacUI for OSX</h2>
<p>The OSX version is almost done, but the release has not been integrated into the GacUI release repo yet. Please go to <a href="https://github.com/vczh-libraries/iGac" target="_blank">https://github.com/vczh-libraries/iGac</a> for the source code.</p>
<h2>GacUI for Linux</h2>
<p>The Linux version is under development. Please go to <a href="https://github.com/vczh-libraries/XGac" target="_blank">https://github.com/vczh-libraries/XGac</a> if you want to have a try.</p>
<h2>Source Code</h2>
<p>The source code in GacUI release is compacted to make the development of GacUI projects easier. If you want to study from the source code, you will find it is hard to read a C++ file with tens of thousands of lines. In this case, you can go to <a href="https://github.com/vczh-libraries" target="_blank">https://github.com/vczh-libraries</a>, there are different repos for GacUI's sub projects, some sub projects have unit tests.</p>
<ul>
    <li><b>Vlpp</b> : Cross platform C++ libraries for general purposes.</li>
    <li><b>Workflow</b> : A script language that is heavily used in GacUI, which has a good interoperability with C++. C++ classes can be registered by a reflection system (from Vlpp), and Workflow script code can call them directly.</li>
    <li><b>GacUI</b> : GacUI source code. All GUI classes are reflectable.</li>
    <li><b>iGac</b> : GacUI for OSX</li>
    <li><b>XGac</b> : GacUI for Linux</li>
    <li><b>GacJS</b> : GacUI on Browsers! This project is far from finish.</li>
    <li><b>vczh-libraries.github.io</b> : The source code of this website.</li>
    <li><b>Tools</b> : Command line tools for this organization.</li>
</ul>