<table class="RootTable">
    <tr>
        <td align="center" valign="top">
            <table class="NavigateTable" cellpadding="0" cellspacing="0">
                <tr>
                    <td class="NavigateHeader" colspan="6" align="left">
                        <img src="./Doc/Logo.gif" />
                    </td>
                </tr>
                <tr>
                    <td align="center" valign="middle">
                        <a id="navHome" class="MenuButton HomeButton" href="#~/">
                            HOME
                        </a>
                    </td>
                    <td align="center" valign="middle">
                        <a id="navTutorial" class="MenuButton TutorialButton" href="#~/Tutorial">
                            TUTORIAL
                        </a>
                    </td>
                    <td align="center" valign="middle">
                        <a id="navDemo" class="MenuButton DemoButton" href="#~/Demo">
                            DEMOES
                        </a>
                    </td>
                    <td align="center" valign="middle">
                        <a id="navDownload" class="MenuButton DownloadButton" href="#~/Download">
                            DOWNLOAD
                        </a>
                    </td>
                    <td align="center" valign="middle">
                        <a id="navDocument" class="MenuButton DocumentButton" href="./Document.html" target="_blank">
                            DOCUMENT
                        </a>
                    </td>
                    <td align="center" valign="middle">
                        <a id="navContact" class="MenuButton ContactButton" href="#~/Contact">
                            CONTACT
                        </a>
                    </td>
                </tr>
                <tr>
                    <td align="left" valign="top" colspan="6">
                        @RenderPage()
                    </td>
                </tr>
            </table>
        </td>
    </tr>
</table> 