@package Gaclib.API

@{
    SelectNavigationButton(navTutorial);
}

<p>Any GacUI project is highly recommended to create using the XML resource. You can refer to the <a href="https://github.com/vczh-libraries/Release/tree/master/Tutorial/GacUI_HelloWorlds/CppXml" target="_blank"><b>CppXml</b></a> demo. Generally a GacUI project can be created by the following steps:</p>
<ul>
    <li>Create a VC++ project using Visual Studio 2013 or higher version, and add all source codes from the <a href="https://github.com/vczh-libraries/Release/tree/master/Import" target="_blank"><b>Release folder</b></a> to your project.</li>
    <li>Prepare your XML resource.</li>
    <li>Generate necessary C++ classes and the binary resource file from your XML resource using GacGen.exe.</li>
    <li>Complete the WinMain and GuiMain functions, load the binary resource file, create the main window and run.</li>
</ul>
<p><b>Notes</b> : The binary resource file don't necessarly be a file. You can embed the file as a resource linking to your exe. After you load it in the memory, you can use MemoryStream instead of FileStream to load the resource.</p>