@package Gaclib.API

@{
    SelectNavigationButton(navTutorial);
}

<h2>Getting started ...</h2>
<p>Any GacUI project is highly recommended to create using XML resources. You can refer to the <a href="https://github.com/vczh-libraries/Release/tree/master/Tutorial/GacUI_HelloWorlds/CppXml" target="_blank"><b>CppXml</b></a> demo. Generally a GacUI project can be created by the following steps:</p>
<ul>
    <li>Create a VC++ project using Visual Studio 2013 or higher version, and add all source codes from the <a href="https://github.com/vczh-libraries/Release/tree/master/Import" target="_blank"><b>Release folder</b></a> to your project.</li>
    <li>Prepare your XML resource.</li>
    <li>Generate necessary C++ classes and the binary resource file from your XML resource using GacGen.exe. This command line tool is required to run when you modify your XML resource.</li>
    <li>Complete the WinMain and GuiMain functions, load the binary resource file, create the main window and run.</li>
</ul>
<p><b>Notes</b> : The binary resource file don't necessarly be a file. You can embed the file as a resource linking to your exe. After you load it in the memory, you can use MemoryStream instead of FileStream to load the resource.</p>

<h2>Different ways to create a GacUI project</h2>
<table class="TutorialTable">
    <thead>
        <tr>
            <td>Category</td>
            <td>Id</td>
            <td>Demo</td>
            <td>Target</td>
        </tr>
    </thead>
    <tr>
        <td rowspan="3">CLI</td>
        <td>C1</td>
        <td></td>
        <td>To create a cross-platform CLI tool working with GacUI-compatible types</td>
    </tr>
    <tr>
        <td>C2</td>
        <td></td>
        <td>To create a cross-platform CLI tool to deal with Workflow script</td>
    </tr>
    <tr>
        <td>C3</td>
        <td></td>
        <td>To create a cross-platform CLI tool to deal with GacUI XML resource</td>
    </tr>
    <tr>
        <td rowspan="4">GUI</td>
        <td>G1</td>
        <td><a href="https://github.com/vczh-libraries/Release/tree/master/Tutorial/GacUI_HelloWorlds/Cpp" target="_blank">Cpp</a></td>
        <td>To create a C++ GacUI project purely by C++</td>
    </tr>
    <tr>
        <td><del>G2</del></td>
        <td></td>
        <td><del>To create a C++ GacUI project by GacUI XML resource, and GacGen.exe will compile UI to Workflow byte code. You <b>need the metadata to load the precompiled binary resource</b>, and link to GacGen-generated C++ code.</del></td>
    </tr>
    <tr>
        <td>G3</td>
        <td><a href="https://github.com/vczh-libraries/Release/tree/master/Tutorial/GacUI_HelloWorlds/Xml" target="_blank">Xml</a></td>
        <td>To create a C++ GacUI project by GacUI XML resource, and you want your application has the ability to <b>load the precompiled binary resource at runtime</b>, without having to link any GacGen-generated C++ code.</td>
    </tr>
    <tr>
        <td><b>G4</b></td>
        <td><a href="https://github.com/vczh-libraries/Release/tree/master/Tutorial/GacUI_HelloWorlds/CppXml" target="_blank">CppXml</a></td>
        <td>To create a C++ GacUI project by GacUI XML resource, but you want GacGen.exe to translate everything about UI in the XML to C++ code, so that you <b>don't need metadata to load the precompiled binary resource</b>. It reduces about 10-20 MB in the binary, and significantly improves the performance.</td>
    </tr>
</table>

<h2>Source code selection and dependencies</h2>
<p>GacUI is designed to be linked with source files in <a href="https://github.com/vczh-libraries/Release/tree/master/Import" target="_blank"><b>Release folder</b></a>. You are suggested to link different source files for different purposes:</p>
<p>When working in Windows, you always need to link <b>GacUIWindows.(h|cpp)</b>. For other platform, see <a href="#~/Download">Download</a> for more information.</p>
<p><b>REMARKS</b>: In order to use <b>G4</b>, You need to define a global macro <b>VCZH_DEBUG_NO_REFLECTION</b> for the whole project.</p>
<table class="TutorialTable">
    <thead>
        <tr>
            <td>Source files to link</td>
            <td>C1</td>
            <td>C2</td>
            <td>C3</td>
            <td>G1</td>
            <td>G3</td>
            <td>G4</td>
        </tr>
    </thead>
    <tr>
        <td><b>Vlpp</b></td>
        <td>YES</td>
        <td>YES</td>
        <td>YES</td>
        <td>YES</td>
        <td>YES</td>
        <td>YES</td>
    </tr>
    <tr>
        <td><b>VlppWorkflow</b></td>
        <td></td>
        <td>YES</td>
        <td>YES</td>
        <td></td>
        <td>YES</td>
        <td></td>
    </tr>
    <tr>
        <td><b>VlppWorkflowCompiler</b></td>
        <td></td>
        <td>YES</td>
        <td>YES</td>
        <td></td>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <td><b>GacUI</b></td>
        <td></td>
        <td></td>
        <td>YES</td>
        <td>YES</td>
        <td>YES</td>
        <td>YES</td>
    </tr>
    <tr>
        <td><b>GacUIReflection</b></td>
        <td></td>
        <td></td>
        <td>YES</td>
        <td></td>
        <td>YES</td>
        <td></td>
    </tr>
    <tr>
        <td><b>GacUICompiler</b></td>
        <td></td>
        <td></td>
        <td>YES</td>
        <td></td>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <td><b>GacUIWindows</b></td>
        <td></td>
        <td></td>
        <td>YES</td>
        <td>YES</td>
        <td>YES</td>
        <td>YES</td>
    </tr>
</table>