body {
    font-family: Segoe UI;
    background-color: #FFFFFF;
}

pre.RegisteredType {
    margin: 0;
}

pre.RegisteredType span.TdName {
    font-weight: 900;
}

pre.RegisteredType span.CppName {
    font-weight: 900;
}

pre.RegisteredType span.Unrenamed {
    color: lightgray;
}

.RootTable {
    border: 0px;
    width: 100%;
    height: 100%;
}

.DirectoryTable {
    border: 0px;
}

.DirectoryTable .TreeView {
    overflow-x: auto;
    width: 400px;
}

div.Children {
    margin-left: 1.5em;
}

div.DirectoryNode {
    white-space: nowrap;
    display: block;
}

div.DirectoryNode span {
    color: #000000;
}

div.DirectoryNode span.Selected {
    font-weight: bolder;
}

div.DirectoryNode a {
    color: #0080FF;
    text-decoration-line: none;
}

div.DirectoryNode a:hover {
    color: #FF8000;
    text-decoration-line: underline;
}

.DirectoryTable .ContentView {
    width: 800px;
}

.ArticleTable {
    border: 0px;
}